@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Cousine', monospace;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
}

button {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 3px;
}

#title {
    margin-left: 3%;
    display: flex;
    align-items: center;
    gap: 10px;
}

#title h1 {
    display: inline;
    margin: 10px 0;
}

#app {
    width: min(950px, 90vw);
    margin: 0 auto;
    text-align: center;
}

.currency-container, .producers-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.progress-currency {
    font-size: 20px;
    width: 500px;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.generators-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.generator {
    border: 1px solid white;
    border-radius: 5px;
    width: 480px;
    height: 125px;
    text-align: center;
    margin: 5px;
}

.generator-cost {
    display: block;
}